<div class="form-group">
  <input type="text" placeholder="Search"  (keyup)="search($event)" class="form-control" />
</div>
<table class="table table-hover" >
  <thead>
    <tr>
      <td>Person Name</td>
      <td>Businness Name</td>
      <td>Business GST Number</td>
      <td colspan="2" >Actions</td>
    </tr>
  </thead>
  <tbody>
    <tr class="fadeIn" *ngFor="let business of businesses" >
      <td> {{ business.prsn_name }} </td>
      <td> {{ business.bsns_name }} </td>
      <td> {{ business.bsns_gst_num }} </td>
      <td>
        <a [routerLink]="[ '/business/edit', business._id ]" class="btn btn-primary" >Edit</a>
        <a (click)="delBusiness(business._id)" class="btn btn-danger" >Delete</a>
      </td>
    </tr>
  </tbody>
</table>
